body {
    background: rgb(68, 138, 230);
    font: normal 15px Arial;
}

header {
    color: white;
    text-align: center;
}

section { 
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(44, 40, 40, 0.24);
}

div {
    text-align: center;
    padding: 8px;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}